//Custom styling for About Us page
.page-template-about-us{
  font-family: $miriam;
  .custom-hero{
    color: $forest;
    background: url(../../sos_assets/about-us/about-us-banner-mobile.jpg) no-repeat center bottom;
    background-size: cover;
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .post-13{
      padding-top: 50px;
      // color: 
      .entry-header{
        text-align: center;
        .entry-title{
          font-size: 3rem;
          text-transform: uppercase;
        }
      }
      .entry-content{
        display: flex;
        justify-content: center;
        p{
        font-size: 1.2rem;
        text-align: center;
        max-width: 75%;
        } 
      }  
    }
    @include tablet{
      background: url(../../sos_assets/about-us/about-us-banner-large.jpg) no-repeat bottom 0 right 0;
      // background-position: 0 
      background-size: cover;
      max-height: 80vh;
    }
    @include desktop{
      background-position: bottom -160px right 0;
      max-height: 90vh;
    }
  }
  .about-us-page-navigation{
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 20px 30px;
    @include tablet{
      display: flex;
      flex-flow: row wrap;
      background-color: $orange;
      li{
        flex-basis: 33%;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0;
        font-size: $font_size-heading3;
        color: $color__background-body;
        @include desktop{
          font-size: $font_size-heading2;
        }
        a{
          text-decoration: none;
          color: $color__background-body;
        }
        
      }
    }
  }
  .about-us-content-wrapper{
    
    list-style-type: none;
    margin: 20px 0;
    // padding: 0 40px;
    padding: 0;
    font-size: $font_size-paragraph-main;
    line-height: $font__line-height-body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    .scroll-up{
      margin: 0 auto;
    }
    @include tablet{
      margin-bottom: 0;
    }
    .list-item-click{
      border-top: 1px $orange solid;
      border-bottom: 1px $orange solid;
      border-left: 7px $orange solid;
      a{
        @include scroll-half-circle;
        text-decoration: none;
        background: $orange;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          font-size: 50px;
        }
        // margin: 0 auto;
        @include tablet{
        
          @include scroll-circle;
          position: relative;
          top: 45px;
          text-decoration: none;
          i{
            font-size: 35px;
          }
          
        }
      }
      @include tablet{
        border: none;
        border-bottom: 1px $orange solid;
      }
    }
    .section-two,.section-four{
      .essay-content .image-wrapper{
        order: -1;
      }
    } 
    li{
      padding: 0 10px; //modified
      display: flex;
      flex-direction: column;
      height: auto;
      // position: relative;
      // margin: 20px 0;
      @include tablet{
        padding: 20px 0;
        margin: 30px;
        border-bottom: 1px $orange solid;
        a{
          @include scroll-circle;
          position: relative;
          top: 45px;
          text-decoration: none;
        }
        
        &:last-child{
          margin-bottom: 0;
          border: none;
          a{
            @include scroll-half-circle;
            position: relative;
            top: 20px;
          }
          
        }
        
      }
      .essay-content{
        display: flex;
      }
      .image-wrapper{
        display: none;
        img{
          width: 85%;
          height: 90%;
        }
        @include desktop{
          display: inline-block;
          flex-basis: 50%;
          width: 50vw;
          position: relative;
          padding: 0 20px;
        }
      }
      
      .about-us-essay-hide{
        height: 0;
        overflow: hidden;
        flex-basis: 100%;
        padding: 0 20px;
        // order: 1;
        @include tablet{
          height: auto;
        }
        @include desktop{
          flex-basis: 50%;
          width: 50vw;
        }
      }
      .about-us-essay-show{
        height: auto;
      }
      p{
        font-family: $source;
      }
    }
    
    h2{ //modified
      font-size: $font_size-heading2;
      font-family: $miriam;
      font-weight: 100;
      text-transform: uppercase;
      margin: 0;
      padding: 10px 0 10px 20px;
      color: $orange;
      &::before{
        font-family: FontAwesome;
        content: '\f105  ';
        @include tablet{
          content: none;
        }
      }
    }
    .heading-click{
      
      &::before{
        font-family: FontAwesome;
        content: '\f107  ';
       
        @include tablet{
          content: none;
        }
      }
    }
    //proposal history section
    .section-six{
      .essay-content-1,
      .essay-content-2,
      .essay-content-3{
        display: flex;
      }
      .essay-content-1,
      .essay-content-3{
        .image-wrapper{
          order: -1;
        }
      }
    }
  }
  
}

