//Custom styling for About Us page
.page-template-about-us{
  .custom-hero{
    background: url(../../sos_assets/about-us/mt-kobau-quarter.jpg) no-repeat center bottom;
    // background-size: cover;
    height: 80vh;
    width: 100vw;
  }
}