.error404{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .hero-404{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: url('../../sos_assets/error404/error404.jpg');
    background-size: cover;
    width: 100vw;
    @include desktop{
      background-position: 30% 30%;
    }
  }
  
  .page-title{
    color: $forest;
    font-family: $miriam;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;  
    padding-top: 5rem;  
    @include desktop{
      font-size: 3.5rem;
    }     
  }
  .page-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding-bottom: 20rem;       
    margin-top: -20px;
    font-family: $source;
    @include desktop{
      font-size: 1.2rem;      
      padding-bottom: 25rem;
    }     
  }
  .error-p{
    text-align: center;
    color: $forest;
    line-height: 1.5rem;
    margin-bottom: 0rem;
  }
  
  .wpcf7-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    background: rgba(255,255,255,0.8);    
    padding: 20px;
    margin: 3rem 0rem;
    .para{
      display: none;
    }
    .wpcf7-text, .wpcf7-textarea{
      max-width: 40vw;
      max-height: 15vh;
      font-family: $source;
      color: $forest;
    }
    .wpcf7-submit{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      background: rgba(255,255,255,0.8);
      font-family: $source;
      color: $forest;
      @include desktop{
        font-size: 1.2rem;
      }
    }
    @include desktop{
      width: 50vw;
    }
  }
  .wpcf7{
    font-size: 0.8rem;
    border: transparent;
    .wpcf7-not-valid-tip{
      color: $orange;      
    }
  }
}