.front-page-hero{
  background-image: url(../../sos_assets/home-page/south-okanagan-grasslands-quarter.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
 
  background-position: bottom center;
  height:600px;
  font-family:$miriam;
  
  h1{
    color:$forest;
    font-family:$miriam;
    text-align:center;
    font-size:28px;
    text-transform:uppercase;
    display:block;
    .bold-title-span{
      
    }
    padding:15px;
    line-height:1;
  }
  h2{
    text-align:center;
    font-size:12px;
    font-weight:100;
    padding:15px;
  }
  .learn-more-button{
    border:none;
    border-radius:1px;
    background-color:$main-orange;
    margin-top: 100px;
    color:white;
    text-transform:uppercase;
    font-size:20px;
    box-shadow:none;
    padding:15px;
    font-weight:100;
    font-family:$miriam;
  }

}



