.front-page-hero{
  background-image: url(../../sos_assets/home-page/south-okanagan-grasslands.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  align-items:center;
  
  align-content:center;
  background-position: bottom center;
  height:90vh;
  font-family:$miriam;
  padding-top:35px;
  display:flex;
  flex-direction:column;
  h1{
    color:$forest;
    font-family:$miriam;
    text-align:center;
    font-size:28px;
    text-transform:uppercase;
    display:block;
    // .bold-title-span{
      
    // }
    padding-top:40px;
    line-height:1;
    padding-left:20px;
    padding-right:20px;
    
  }
  h2{
    text-align:center;
    font-size:12px;
    font-weight:100;
    padding-bottom:15px;
    color:$forest;
    padding-left:20px;
    padding-right:20px;
  }
  .learn-more-button{
    border:none;
    border-radius:3px;
    background-color:$orange;
    margin-top: 100px;
    color:white;
    text-transform:uppercase;
    font-size:20px;
    box-shadow:none;
    padding:24px;
    font-weight:100;
    font-family:$miriam;
    text-align:center;
    padding-right:32px;
    padding-left:32px;
    a{
      color:white;
      text-decoration:none;
    //   &:focus{
      
    // }
    }
    
  }
  
}

.recent-updates-header{
  text-align:center;
  font-family:$miriam;
  text-transform:uppercase;
  
  padding-top:28px;
  padding-bottom:13px;
  a{
    color:$orange;
    text-decoration:none;
  }
}

.page-id-101{
  
  .posts-navigation{
    display:flex;
    justify-content:space-around;
    padding-top:15px;
    a{
      color:$brown_orange;
      text-transform:uppercase;
      font-family:$miriam;
      &:focus{
        border: 5px solid black;
      }
    }
    
  }
  .owl-theme .owl-controls .owl-page span {
    height:8px;
    width:8px;
  }
  .owl-item{
    height:320px;
  }
  .carousel-cell{
    padding:10px;
    height:320px; 
    overflow:hidden;
    
    article{
      border-radius:3px;
    }
    img{
      height:auto;
      
    }
    .entry-header{
      color:white;
      font-family:$source;
      position:absolute;
      top:160px;
      padding:10px;
      font-size:12px;
      height:160px;
      margin-right:10px;
      
      background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,1));
      .entry-meta{
      text-transform:uppercase;
      }
      a{
        color:white;
        text-decoration:none;
        line-height:1.6;
      }
      
    }
  }
  
  .page-id-101{
    .entry-header{
      color:white;
      font-family:$source;
      position:absolute;
      bottom:30px;
      padding:10px;
      font-size:12px;
      
      a{
        color:white;
        text-decoration:none;
      }
    }
  }
  
}


@media screen and (min-width: 600px){
  .front-page-hero{
    background: url('../../sos_assets/error404/error404.jpg');
    background-size: cover;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    
    align-items: center;
    
    background-position: 30% 21%;
    font-family:$miriam;
    padding-top:30px;
    h1{
      padding-top:15px;
      font-size:33px;
      padding-left:20px;
      padding-left:20px;

    }
    h2{
      font-size:20px;
      padding:20px;
    }
    .learn-more-button{
      font-size:25px;
    }
    
  }
  .page-id-101{
    .owl-theme .owl-controls .owl-page span{
      height:8px;
      width:8px;
    }
  }
  .page-id-101{
    
  
    .carousel-cell{
      .entry-header{
        a{
          line-height:1;
        }
      }
    }
  }
}
@media screen and (min-width: 1000px){
 
  .page-id-101{
  .posts-navigation{
    padding-top:25px;
  }

  .carousel-cell{
    .entry-header{
      a{
        line-height:1;
      }
    }
  }
}
  .front-page-hero{
    background: url('../../sos_assets/error404/error404.jpg');
    background-size: cover;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    
    align-items: center;
    
    background-position: 30% 21%;
    
    font-family:$miriam;
      h1{
        font-size:50px;
      }
      h2{
        font-size:28px;
      }
      .learn-more-button{
        font-size:30px;
      }

  }
}