//Recent Updates
.blog {
  .site-content {
    .updates-hero {
      background-image: url(../../sos_assets/resources/river.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 60%;
      height: 85vh;
      font-family: $miriam;
      margin-bottom: 70px;
      h2 {
        text-align: center;
        font-size: 30px;
        padding-top: 50px;
        color: #285817;
        text-transform: uppercase;
        @include tablet {
          font-size: 40px;
          padding-right: 200px;
        }
        @include desktop {
          font-size: 50px;
          padding-right: 200px;
        }
      }
    }
    .stories-container {
      display: flex;
      flex-direction: column;

      @include tablet {
      align-items: center;
      }
      .journal-container {
        display: flex; // flex-wrap: wrap;
        position: relative;
        margin-bottom: 50px;
        border: none;
        @include tablet {
          display: block;
        }
        img {
          margin-left: 20px;
          
          height: auto;
          object-fit: cover;
          object-position: 80% 100%;
          width: auto;
          min-width: 150px;
          max-width: 150px;
          min-height: 150px;
          max-height: 150px;
          @include tablet {
            margin-left: 0;
            min-height: 180px;
            max-height: 180px;
            min-width: 600px;
            max-width: 600px;
          }
          @include desktop {
            min-width: 800px;
            max-width: 800px;
            min-height: 240px;
            max-height: 240px;
          }
        }
        .button-container {
          width: 100%;
          
          @include tablet {
            position: absolute;
            bottom: 5px;
            border: none;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            min-height: 100px;
            max-height: 100px;
          }
          @include desktop {
            min-height: 120px;
          }
          .post-title {
            
            font-family: $miriam;
            font-weight: 100;
            text-transform: uppercase;
            // min-width: 90%;
            max-width: 90%;
            font-size: 16px;
            font-weight: bold;
            padding-left: 10px;
            @include tablet {
              color: #fff;
              padding-left: 20px;
              font-size: 15px;
              margin: 10px 0;
              max-width: 400px;
            }
            @include desktop {
              max-width: 500px;
              padding-left: 20px;
              margin: 20px 0;
              font-size: 18px;
            }
          }
          .read-more {
            display: none;
            position: absolute;
            left: 70%;
            bottom: 10%;
            color: #fff;
            background: $orange;
            box-shadow: none;
            text-shadow: none;
            font-size: 16px;
            text-transform: uppercase;
            border: 3px solid #fff;
            border-radius: 5px;
            opacity: 0.8;
            font-family: $miriam;
            padding-top: 3px;
            @include tablet {
              display: inline-block;
              left: 450px;
              bottom: 30px;
              padding-top: 5px;
              font-size: 16px;
              text-transform: uppercase;
              font-family: $miriam;
              min-width: 140px;
              border: 6px solid #fff;
              border-radius: 5px;
            }
            @include desktop {
              font-size: 20px;
              min-width: 170px;
              left: 600px;
              bottom: 40px;
              padding-top: 5px;
            }
          }
          .read-more:hover {
            opacity: 1;
          }
          .posted-on {
            color: gray;
            font-family: $miriam;
            font-size: 14px;
            padding-left: 20px;
            position: absolute;
            bottom: 0px;
            left: 160px; // max-width: 90px;
            @include tablet {
              color: #fff;
              position: static;
            }
            @include desktop {
              padding-left: 20px;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    .search-pagination {
      align-self: center;
      margin-bottom: 20px;
      color: $orange;
      font-size: 25px;
      a {
        color: $orange;
        text-decoration: none;
        font-family: $miriam;
        font-size: 25px;
      }
    }
  }
}