.page-template-proposed-park {
  
  .entry-title {
    @include mobile-title;
    text-align: center;
    padding-top: 60px;
  }
  
  .entry-content {
    display: flex;
    justify-content: center;
    p {
      @include mobile-description;
      max-width: 75%;
      text-align: center;
      
      
    }
  }
  
  
  //fields container
  .proposed-container {
    .image {
      display: none;
      
      @include desktop {
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  h2 {
    
    color: $brown-orange;
    font-family: $miriam;
    margin: 10px 0;
    line-height: 30px;
    
    @include desktop {
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
  
  .text {
    height: 0;
    overflow: hidden;
    font-family: $source;
    padding-right: 10px;
    
    @include desktop {
      height: auto;
      
      p {
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 0;
      }
    }
  }
  
  
  
  .menu-item {
    cursor: pointer;
    padding-left: 25px;
    
    @include desktop {
      border-bottom: 1px solid $brown-orange;
      margin-left: 5%;
      margin-right: 5%;
      padding-bottom: 50px;
      padding-left: 0;
      cursor: unset;
    }
    
    
  }
  
  .show {
    height: auto;
    
    
  }
  
  .proposed-hero {
    background-image: url(../../sos_assets/proposed-park/horse-riding-near-mt-kobau-quarter.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: bottom center;
    height:85vh;
    font-family:$miriam;
  }
  
  //down arrow
  .down {
    display: none;
  }
  //
  
  //right arrow
  .right {
    @include desktop{
      display: none;
    }
  }
  
  .see {
    display: inline;
  }
  
  .hide {
    display: none;
  }
  
  i {
    padding-right: 10px;
  }
  
  .border {
    border-top: 1px solid $border-orange;
    border-left: 4px solid $border-orange;
    border-bottom: 1px solid $border-orange;
    
    
  }
  
  .image {
    img {
      max-width: min-content;
    }
  }
  
  //land
  .one {
    @include desktop {
      
      h2 {
        padding-bottom: 20px;
        
      }
      display: flex;
      flex-direction: column;
      .content-container {
        display: flex;
        
        .text {
          flex-basis: 50%;
        }
        .image {
          flex-basis: 50%;
          
          
          img {
            min-height: 330px;
            
            align-self: flex-end;
            // padding-left: 549px - 480px;
          }
        }
      }
    }
  }
  
  //location
  
  .two {
    
    
    @include desktop{
      h2 {
        padding-bottom: 20px;
      }
      .content-container {
        display: flex;
        padding-bottom: 25px;
        // border-bottom: 1px solid orange;
        
        .text {
          flex-basis: 50%;
        }
        .image {
          flex-basis: 50%;
          padding-right: 5%;
        }
      }
    }
    
  }
  
  //regulations
  
  .three {
    
    @include desktop {
      
      h2 {
        padding-bottom: 20px;
      }
      
      .content-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        
        .content-container-one {
          flex-basis: 50%;
          .text:nth-child(2){
            text-align: right;
            font-weight: bold;
            
          }
          padding-bottom: 25px;
          
        }
        .content-container-two {
          flex-basis: 50%;
          padding-left: 5%;
        }
        .content-container-three {
          flex-basis: 50%;
          
        }
        .content-container-four {
          flex-basis: 50%;
          padding-left: 5%;
        }
        
      }
    }
  }
  
  //why a national park
  
  .four {
    @include desktop {
      .content-container {
        display: flex;
        
        .text {
          flex-basis: 50%;
        }
        .image {
          flex-basis: 50%;
          
          img {
            align-self: flex-end;
          }
        }
      }
    }
  }
  
  //ranch 
  
  .five {
    @include desktop {
      .content-container{
        display: flex;
        
        .image {
          flex-basis: 50%;
          
        }
        .text {
          flex-basis: 50%;
        }
      }
    }
  }
  
  //human 
  
  .six {
    @include desktop {
      
      .content-container {
        display: flex;
        
        .image {
          flex-basis: 50%;
          img {
            align-self: flex-end;
          }
        }
        .text {
          flex-basis: 50%;
        }
        
      }
    }
  }
  
  //ecological 
  
  .seven {
    @include desktop {
      .content-container {
        display: flex;
        .image {
          flex-basis: 50%;
          
        }
        .text {
          flex-basis: 50%;
        }
      }
    }
  }
  
  .eight {
    @include desktop {
      
      .content-container {
        display: flex;
        
        .image {
          flex-basis: 50%;
          
        }
        .text {
          flex-basis: 50%;
        }
      }
    }
  }
  
  //faq
  .nine {
    @include desktop {
      
      p {
        margin: 0;
      }
      .content-container-one {
        display: flex;
        padding-bottom: 15px;
        .image {
          flex-basis: 50%;
          
        }
        .text {
          flex-basis: 50%;
        }
      }
      .content-container-two {
        display: flex;
        padding-bottom: 20px;
        .image {
          flex-basis: 50%;
          
        }
        .text {
          flex-basis: 50%;
        }
        
      }
      .content-container-three {
        display: flex;
        .image {
          flex-basis: 50%;
          img {
            align-self: flex-end;
            height: 100%;
            width: 100%;
          }
          
        }
        .text {
          flex-basis: 50%;
        }
      }
    }
  }
  
  
}