.page-template-proposed-park {
  .site-content {
    .entry-title {
      @include mobile-title;
      text-align: center;
      padding-top: 60px;
      text-transform: uppercase;
      color: $forest;
      @include tablet {
        padding-top: 90px;
        font-size: 54px;
      }
    } //close entry title
    .entry-content {
      display: flex;
      justify-content: center;
      p {
        @include mobile-description;
        max-width: 75%;
        text-align: center;
        color: $forest;
        @include tablet {
          font-size: 18px;
        }
      }
    } //closes entry content
    //banner 
    .proposed-banner {
      display: none;
      @include tablet {
        display: flex;
        justify-content: space-around;
        min-height: 180px;
        background: $orange;
        .banner-list {
          display: flex;
          flex-direction: column; // margin: 2% 5%;
          text-align: center;
          margin: 1% 0;
          padding: 0;
          li {
            @include tablet {
              font-size: $font-size-heading3;
            }
            padding: 14px 0;
            list-style: none;
            text-transform: uppercase;
            font-family: $miriam;
            min-width: max-content;
            @include desktop {
              font-size: $font_size-heading2;
            }
          }
          a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
          }
          a:hover {
            color: $hover-light-blue;
          }
        }
      }
    } //fields container
    .proposed-container {
      .image {
        display: none;
        @include desktop {
          display: flex;
          flex-direction: column;
        }
      }
    }
    h2 {
      font-size: $font_size-heading2;
      padding-left: 25px;
      color: $orange;
      font-family: $miriam;
      font-weight: 100;
      margin: 10px 0;
      text-transform: uppercase;
      line-height: 30px;
      @include tablet {
        padding: 20px 0;
      }
    }
    .text {
      height: 0;
      overflow: hidden;
      font-family: $source;
      padding-left: 30px;
      padding-right: 30px;
      @include tablet {
        padding-right: 0;
        padding-left: 0;
        height: auto;
        p {
          font-size: 14px;
          margin-bottom: 8px;
          margin-top: 0;
        }
      }
    }
    .prop-item {
      position: relative;
      cursor: pointer; // padding-left: 25px;
      @include tablet {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 50px;
        padding-left: 0;
        cursor: unset;
        border-bottom: 1px solid $orange;
      }
      .page-top {
        display: none;
        @include tablet {
          display: flex;
          justify-content: center;
          height: 45px;
          width: 45px;
          border-radius: 50px; // display: inline;
          position: absolute;
          bottom: -25px;
          left: 47.5%;
          background: #555454;
          box-shadow: none;
          border: none;
          i {
            font-size: 2rem;
            color: #fff;
            padding-bottom: 5px;
            padding-right: 1px;
          }
        }
      }
      .last {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 35px;
        bottom: -24px;
      }
    } //close prop item
    .show {
      height: auto;
    }
    .proposed-hero {
      padding-top: 50px;
      @include tablet {
        padding-top: 0;
      }
      background-image: url(../../sos_assets/proposed-park/horse-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      height: 85vh;
      font-family: $miriam;
      @include tablet {
        background-image: url(../../sos_assets/proposed-park/horse.jpg);
      }
    } //down arrow
    .down {
      display: none;
      i {
        padding-right: 10px;
      }
    } //
    //right arrow
    .right {
      i {
        padding-right: 10px;
      }
      @include tablet {
        display: none;
      }
    } //close right arrow
    .see {
      display: inline;
      @include tablet {
        display: none;
      }
    }
    .hide {
      display: none;
    }
    .border {
      border-top: 1px solid $orange;
      border-left: 4px solid $orange;
      border-bottom: 1px solid $orange;
      @include tablet {
        border-top: none;
        border-left: none;
      }
    }
    .image {
      img {
        max-width: min-content;
      }
    } //land
    .land {
      @include proposed-button;
      @include desktop {
        h2 {
          padding-bottom: 20px;
        }
        display: flex;
        flex-direction: column;
        .content-container {
          display: flex;
          .text {
            flex-basis: 50%;
          }
          .image {
            flex-basis: 50%;
            img {
              align-self: flex-end;
            }
          }
        }
      }
    } //location
    .location {
      @include proposed-button;
      @include desktop {
        h2 {
          padding-bottom: 20px;
        }
        .content-container {
          display: flex;
          padding-bottom: 25px;
          .text {
            flex-basis: 50%;
          }
          .image {
            flex-basis: 50%;
            padding-right: 5%;
          }
        }
      }
    } //regulations
    .land-use {
      @include proposed-button;
      .fish {
        align-items: left;
        @include desktop {
          align-items: flex-end;
        }
      }
      @include desktop {
        h2 {
          padding-bottom: 20px;
        }
        .content-container {
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 30px;
          .content-container-one {
            flex-basis: 42%;
            @media all and (min-width: 1100px) {
              flex-basis: 45%;
            }
            @media all and (min-width: 1200px) {
              flex-basis: 50%;
            } // .text:nth-child(2) {
            //   text-align: right;
            //   font-weight: bold;
            // }
            padding-bottom: 25px;
          }
          .content-container-two {
            display: flex;
            justify-content: flex-end;
            flex-basis: 42%;
            @media all and (min-width: 1100px) {
              flex-basis: 45%;
            }
            @media all and (min-width: 1200px) {
              flex-basis: 50%;
            }
            padding-left: 5%;
            padding-bottom: 3%;
          }
          .content-container-three {
            flex-basis: 42%;
            @media all and (min-width: 1100px) {
              flex-basis: 45%;
            }
            @media all and (min-width: 1200px) {
              flex-basis: 50%;
            }
          }
          .content-container-four {
            .text {
              p {
                padding-left: 5%;
              }
            }
            flex-basis: 42%;
            @media all and (min-width: 1100px) {
              flex-basis: 45%;
              .text {
                p {
                  padding-left: 10%;
                }
              }
            }
            @media all and (min-width: 1200px) {
              flex-basis: 50%;
              .text {
                p {
                  padding-left: 15%;
                }
              }
            }
            padding-left: 5%;
          }
        }
      }
    } //why a national park
    .why {
      @include proposed-button;
      @include desktop {
        .content-container {
          display: flex;
          .text {
            flex-basis: 50%;
          }
          .image {
            flex-basis: 50%;
            img {
              align-self: flex-end;
            }
          }
        }
      }
    } //ranch 
    .ranch {
      @include proposed-button;
      @include desktop {
        .content-container {
          display: flex;
          .image {
            flex-basis: 50%;
          }
          .text {
            flex-basis: 50%;
            padding-left: 2%;
          }
        }
      }
    } //human 
    .human {
      @include proposed-button;
      @include desktop {
        .content-container {
          display: flex;
          .image {
            flex-basis: 50%;
            img {
              align-self: flex-end;
            }
          }
          .text {
            flex-basis: 50%;
          }
        }
      }
    } //ecological 
    .ecological {
      @include proposed-button;
      @include desktop {
        .content-container {
          display: flex;
          .image {
            flex-basis: 50%;
          }
          .text {
            flex-basis: 50%;
            padding-left: 2%;
          }
        }
      }
    } //economic
    .economic {
      @include proposed-button;
      @include desktop {
        padding-bottom: 20px;
        h2 {
          margin: 0;
          padding: 30px 0 0 0;
        }
        .content-container {
          display: flex;
          .image {
            flex-basis: 50%;
            position: relative;
            display: flex;
            flex-direction: column; // justify-content: flex-end;
            // min-height: 220px;
            a {
              color: #2E84E6;
              font-family: $source;
            }
            .pdf-container {
              max-width: 180px;
              margin-left: 40%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              min-height: 200px;
              background-image: url(../../sos_assets/pdf-first.svg);
              background-repeat: no-repeat;
              background-position: 50% 100%;
              a {
                padding-top: 150px;
              }
            }
            .pdf-container:hover {
              background-image: url(../../sos_assets/pdf.svg);
            }
          }
          .text {
            margin-top: 10px;
            padding-top: 25px;
            flex-basis: 50%;
          }
        }
      }
    } //faq
    .faq {
      @include proposed-button;
      
      @include tablet {
        border-bottom: none;
      }
      @include desktop {
        
        p {
          margin: 0;
        }
        .content-container-one {
          display: flex;
          padding-bottom: 15px;
          .image {
            flex-basis: 50%;
            img {
              align-self: flex-end;
            }
          }
          .text {
            flex-basis: 50%;
          }
        }
        .content-container-two {
          display: flex;
          padding-bottom: 20px;
          .image {
            flex-basis: 50%;
          }
          .text {
            flex-basis: 50%;
            padding-left: 2%;
          }
        }
        .content-container-three {
          display: flex;
          .image {
            flex-basis: 50%;
            img {
              align-self: flex-end;
              height: 100%;
              width: 100%;
            }
          }
          .text {
            flex-basis: 50%;
          }
        }
      }
    }
  }
}