.page-template-resources{
  .resources-hero{
    background: url(../../sos_assets/resources/river.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include tablet{
      background-size: cover;
      background-repeat: none;
      background-position: 0% 60%;
      height: 65vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .resources-nav{
    display: none;
    @include tablet-footer{
      width: 100vw;
      height: 15rem;
      background: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .nav-links{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-left: -3rem;        
      }
      a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $source;
        font-size: 1.5rem;
        line-height: 3rem;
        font-family: $miriam;      
      }
      .resources-nav-1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;      
        align-items: center;
      }
      .resources-nav-2{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;      
        align-items: center;      
      }
      .resources-nav-3{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;      
        align-items: center;      
      }
    }
  }
  
  .post-17{
    max-width: 80vw;
    .entry-header{
      color: $forest;
      font-family: $miriam;
      text-transform: uppercase;
      text-align: center;
      @include tablet{
        font-size: 1.8rem;
      }
    }
    .entry-content{
      color: $forest;
      font-family: $source;
      padding-bottom: 15rem;
      text-align: center;
      @include tablet{
        font-size: 1.5rem;        
        padding-bottom: 18rem;
      }
    }
  }
  
  .hide{
    display: none;
    @include tablet{
      display: block;
    }
  }
  
  .borders{
    position: relative;
    border: $orange solid 1px;
    border-left: $orange solid 3px;
    border-right: none;
    padding-left: 1rem;
    margin-left: -2.5rem;
    @include tablet{
      display: none;
    }
  }
  
  
  .fa-angle-down, .fa-angle-right{
    @include tablet{
      display: none;
    }    
  }
  
  .resources-content{
    margin: 1.3rem;
    padding-bottom: 10px;
  }
  
  .resources-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-weight: 300;
    }
    h2{
      color: $orange;
      font-family: $miriam;
      text-transform: uppercase;
      font-weight: 300;
      @include tablet{
        margin-left: 1.3rem;
      }
    }
    a{
      color: rgb(0, 150, 255);
      font-weight: 300;
    }
    li:nth-child(2) {
      p{
        max-width: 25rem;
      }
    }
    li {
      a:focus{
        border: none;
      }
      @include tablet{
        margin: 30px;
        border-bottom: 1px $orange solid;
      }
    }
  }
  
  .lc-groups-container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    @include tablet{
      margin-bottom: 0;
      border: none;
      h2{
        padding-left: 2rem;
      }
      .lc-groups{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;  
        margin-top: -2rem; 
        // border-bottom: $orange solid 1px;
        p{
          margin-bottom: 0rem;
        }
        li:nth-child(1) {
          max-width: 40vw;
          border-bottom: none;
        }
        li:nth-child(2) {
          max-width: 40vw;            
          border-bottom: none;
          @include tablet{
            margin-top: 1.85rem;
          }
          @include desktop{
            margin-left: 5rem;
            margin-top: 30px;
          }
        }
      }
    }
  }
  
  .owl-carousel2{
    display: none;
    width: 65vw;
    left:3%;
    @include tablet{
      display: block;
      left: 10%;
    }
    @include desktop{
      display: block;
      left: 13%;
    }
    // Makes images larger; li(4,5) will be skipped
    // .owl-wrapper, .owl-wrapper-outer{
      //   zoom: 1.7;
      // }
      
      .owl-image{
        display: none;
        height: 200px;
        @include tablet{
          display: block;
        }
      }
      .owl-controls .owl-pagination span{
        display: none;
        width: 5px;
        height: 5px;
        background: $forest;
        @include tablet{
          display: block;
          width: 8px;
          height: 8px;
        }
      }
    }
    
    .li-container{
      @include tablet{
        border-bottom: none;
      }
    }
    
    .mobile-button{
     @include mobile-button;
    }
    
    .desktop-button{
      @include desktop-button;
    }

    .desktop-button-end{
      @include desktop-button-end;
    }
    
    .modal-overlay {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100vw;
      background: rgba(black,0.3);
    }
  }