.page-template-resources{
  .resources-hero{
    background: url(../../sos_assets/resources/similkameen-river-bend-dam-quarter.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop{
      background-size: cover;
      background-repeat: none;
      background-position: 0% 60%;
      height: 65vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .resources-nav{
    width: 100vw;
    height: 15rem;
    background: $main-orange;
  }

  .post-17{
    .entry-header{
      color: $forest;
      font-family: $miriam;
      text-transform: uppercase;
      text-align: center;
    }
    .entry-content{
      padding-bottom: 15rem;     
      @include desktop{
      padding-bottom: 20rem;
      }     
    }
    p{
      text-align: center;
    }
  }
  h2{
    color: $main-orange;
    font-family: $miriam;
    padding: 3rem 0rem 0rem 3rem;	    
  }
  a{
    color: rgb(0, 150, 255);
    text-decoration: underline;
    font-weight: 300;
  }
  p{
    font-weight: 300;
    padding-left: 3rem;	    
  }
  
  ul{
    li:nth-child(2) {
      h2{
        width: 100vw;
      }
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    li:nth-child(3) {
      h2{
        width: 100vw;
      }
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    li:nth-child(7) {
      display: flex;
      flex-flow: column wrap;
      width: 50%;
    }
    li:nth-child(8) {
      display: flex;
      flex-flow: column wrap;
      width: 50%;
    }
  }
  .wp-image-70{
  }
}
