// .search-results{
//   // margin: 20px 100px;
//   .page-title{
//     padding: 50px 0;
//     margin: 0 100px;
//     text-transform: uppercase;
//     border-bottom: 1px solid #e4e4e4;
//   }
//   article{
//     margin: 50px 100px;
//   }
//   .search-pagination{
//     margin: 50px 100px;
//   }
// }

// .search-no-results{
//   .page-content{
//     background: url('../../sos_assets/error404/error404.jpg') no-repeat;
//     background-size: cover;
//     background-position: top;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     p{
//       font-size: 2.5rem;
//       text-transform: capitalize;
//       text-align: center;
//       line-height: 50px;
//       width: 50vw;
//       padding-top: 50px;
//     }
//   }

// }


//search page 
.search {
  .site-content {
    .page-title {
      font-size: 24px;
      font-family: $miriam;
      color: $forest;
      margin: 0;
      text-align: center;
      @include tablet {
        font-size: 30px;
      }
    }
    article {
      border-bottom: 1px solid $orange;
      margin: 0 5%;
      .entry-header {
        min-width: 90%;
        .entry-title {
          min-width: 90%;
          a {
            color: $orange;
            font-size: 18px;
            text-decoration: none;
            font-family: $miriam;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .entry-meta {
        display: none;
      }
      .entry-summary {
        p {
          font-family: $source;
        }
      }
    }
  }
}

//search no results 

.search-no-results {
  .site-content {
    .page-content{
      p{
        min-width: 75%;
        font-family: $source;
        color: $forest;
        font-size: 20px;
        line-height: 25px;
        @include tablet {
          line-height: 30px;
          font-size: 24px;
          min-width: 60%;
        }
        @include desktop {
          line-height: 45px;
          font-size: 34px;
          min-width: 50%;
        }
      }
    }
  }
}