.single-hero{
  
  height:15vh;
  
  margin-bottom: 70px;
  font-family:$miriam;
  padding-top:50px;

  h1{
    color:$forest;
    font-family:$miriam;
    text-align:center;
    font-size:28px;
    text-transform:uppercase;
    display:block;
    .bold-title-span{
      
    }
    padding-top:15px;
    line-height:1;
  }
}

.single-post{
  .site-main{
    padding-right:20px;
    padding-left:20px;
    font-family:$source;
    width:100%;
  }
.single-navigation{
  display:flex;
  justify-content:space-between;
  width:100%;
}
.return-home{
  background-image: url(../../sos_assets/ui-icons/pagination-ret.svg) ;
  background-size:260% 200%;
  background-position: 43% 48%;
  display:flex;
  position:relative;
  width:100px;
  height:100px;
  a{
    position:absolute;
    bottom:0;
    
    text-transform:uppercase;
    padding-top:63px;
    
    padding-left:20px;
    color:black;
    font-size:10px;
    text-decoration:none;
  }
}


  .entry-title{
    line-height:1.5;
    font-family:$source;
    text-transform:uppercase;
    

  }

  .nav-links{
    display:flex;
    justify-content:flex-end;
    .nav-previous{
      width:100px;
      height:100px;
      
      vertical-align:bottom;
      position:relative;
      a{
        position:absolute;
        bottom:0;
        left:29%;
        color:black;
        text-transform:uppercase;
        padding-top:60px;
        
        
        padding-left:21px;
        font-size:10px;
        text-decoration:none;
      }

    }
    .nav-previous:before {
      content: "\f104"; 
      font-family: FontAwesome;
      
      position:relative;
      top:25px;
      left:22px;
    font-size:300px;
      border:1px black;display: flex;
          justify-content: center;
          align-items: center;
          background: #555454;
          border-radius: 0px;  
          border-bottom-left-radius:30px;
          border-bottom-right-radius: 0px;
          border-top-left-radius:30px;
          width: 50px;
          height: 50px;
          text-align: center;
          font-size: 35px;
          font-weight: 100;
          color: white;
          z-index: 0;
    
   }
    .nav-next{
      width:100px;
      height:100px;
      vertical-align: bottom;
      position:relative;
      a{
        position:absolute;
        bottom:0;
        left:28%;
        color:black;
        text-transform:uppercase;
        padding-top:60px;
        padding-right:15px;
        text-decoration:none;
        font-size:10px;
      }
    }
    .nav-next:before {
      content: "\f105"; 
      font-family: FontAwesome;
      
      position:relative;
      top:25px;
      left:26px;
    font-size:300px;
      border:1px black;display: flex;
          justify-content: center;
          align-items: center;
          background: #555454;
          border-radius: 0px;  
          border-bottom-left-radius:0px;
          border-bottom-right-radius: 30px;
          border-top-right-radius:30px;
          width: 50px;
          height: 50px;
          text-align: center;
          font-size: 35px;
          font-weight: 100;
          color: white;
          z-index: 0;
    
   }

  }

}

@media screen and (min-width: 600px) {

  .single-hero{
    background-image: url(../../sos_assets/resources/similkameen-river-bend-dam-quarter.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 60%;
    height:85vh;
    
    margin-bottom: 70px;
    font-family:$miriam;
    padding-top:50px;
  
    h1{
      color:$forest;
      font-family:$miriam;
      text-align:center;
      font-size:28px;
      text-transform:uppercase;
      display:block;
      .bold-title-span{
        
      }
      padding-top:15px;
      line-height:1;
    }
  }
}