#secondary, .widget_area{
  height: 540px;
  width: 100vw;
  padding-top: 1rem;
  background-color: $main-orange;
  
  a, a:visited{
    margin: 0rem 0.5rem;
    text-decoration: none;
  }
  
  .widget_text, .textwidget{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    h2{
      text-transform: uppercase;
      font-family: $miriam;
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
    }
    
    p{
      line-height: 1.8rem;
      color: white;
      margin: 0;
      font-weight: 300;
      text-align: left;      
    }
    i{
      color: white;
    }
    .subscribe-button, .feedback-button{
      width: 200px;
      height: 40px;
      border-radius: 0px;
      border: none;
      text-transform: uppercase;
      background: white;      
      color: $main-orange;
      font-family: $source;      
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      
    }
  }
  .custom-html-widget{
    display: flex;
    align-items: flex-start;
  }
  
}

//subscribe button
.form-popup{
  display: none;
  // .clear{
  //   // width: 50px;
    
  //   //subscribe button
    
  //   .subscribe-form{
  //     display: none;
  //   }
  }
  .form-popup-show{
    display: flex;
    position: fixed;
    bottom: 300px;
    width: 100vw;
    left: 0;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: center;
    
    form{
      width: 400px;  
      background: white;
      text-align: center;
      label p{
        font-family: $source;
        line-height: $font__line-height-body;
        margin: 15px 0;
      }
      input[type="email"]{
        width: 300px;
        height: 30px;
        margin: 10px 50px;
        padding: 0 10px;
      }
      button{
        position: relative;
        font-size: 16px;
        bottom: 40px;
        left: 140px;
        padding: 6.5px 10px;
        color: white;
        background-color: $forest;
        border-radius: 10%;
        box-shadow: none;
        border: none;
      }
    }
    
  }
.fa-times{
  position: relative;
  right: 30px;
  top: 15px;
}
a,
a:visited{
  color: $forest;
}  


@media screen and (min-width: 800px){
  #secondary, .widget_area{
    height: 284px;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $main-orange;
    padding-top: rem;
    
    .wp-image-62, .wp-image-63{
      padding-top: 1.5rem;
      height: 80px;
      width: 60px;
    }
  }
}
