 .widget-area{
  width: 100vw;
  padding-top: 1rem;
  background-color: $orange;
  @include tablet-footer{
    display: flex;
    flex-flow: row wrap;
  }
  
  a, 
  a:visited{
    margin: 0rem 0.5rem;
    text-decoration: none;
  }
  
  @include tablet-footer{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $orange;
    padding-top: 40px;
  }
  .widget_text,
  .textwidget{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: $orange;
    text-align: center;    
    
    h2, .widget-title{
      text-transform: uppercase;
      font-family: $miriam;
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
      text-align: center;
      @include tablet{
        padding-bottom: 20px;
      }
    }
    
    p{
      color: white;
      margin: 0;
      font-weight: 300;
      text-align: left;
      padding-bottom: 10px;
    }
    i{
      color: white;
    }
    .subscribe-button, 
    .feedback-button{
      width: 154px;
      height: 40px;
      border-radius: 3px;
      border: none;
      text-transform: uppercase;
      background: white;      
      color: $orange;
      font-family: $source;      
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 2rem;
      
    }
  }
  .wp-image-62, .wp-image-63{
    padding-top: 1.5rem;
    height: 80px;
    width: 60px;
  }
  .custom-html-widget{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    line-height: 18px;
    margin-bottom: 50px;
    i{
      font-size: 20px;
      padding-top: 2px;
      min-width: 30px;
    }
    p{
      max-width: 230px;
      margin: 10px 0px;
      padding-left: 10px;
      border-left: 1px solid #fff;
      margin-top: 0;
      font-family: $source;
    }
    a{
      font-family: $source;
    }
  }
  .widget_custom_html{
    .contact-row{
      display: flex;
      flex-flow: row wrap;
      p, a{
        color: white;
      }
    }
  }
  
  .textwidget{
    .contact{
      display: flex;
      flex-flow: column wrap;
    }
  }
}

//subscribe button
.form-popup{
  display: none;
}

.form-popup-show{
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 250px;
  width: 100vw;
  // width: 400px;
  left: 0;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  z-index: 10;

  // @include tablet{
    height: 100vh;
    background: rgba(0,0,0,0.6);
    top: 0;
    padding: 0;
  // }
  form{
    width: 280px;  
    background: white;
    text-align: center;
    // padding: 0 20px;
    // margin: 0 auto;
    // border-radius: 10%;
    // border: 5px solid $forest;
    @include tablet{
      width: 380px;
    }
    label p{
      font-family: $source;
      line-height: $font__line-height-body;
      margin: 15px 0;
      padding: 0 40px;
    }
    input[type="email"]{
      font-family: $source;
      width: 220px;
      height: 30px;
      margin: 10px 40px;
      padding: 0 10px;
      @include tablet{
        width: 240px;
        margin-left: 70px;
      }
    }
    button{
      position: relative;
      font-size: 16px;
      bottom: 40px;
      left: 105px;
      padding: 6.5px 12.2px;
      color: white;
      background-color: $forest;
      border-radius: 10%;
      box-shadow: none;
      border: none;
    }
  }
}
.closing-icon{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  
  .fa-times{
    cursor: pointer;
    font-size: 22px;
    position: relative;
    right: 15px;
    top: 15px;
  }
}
a,
a:visited{
  color: #fff;
}  
