.main-navigation{
  display:flex;
  justify-content:space-between;
  background-color:white;
  min-height:50px;
  align-content:center;
  align-items:center;
  width:100%;
  
  top:0px;
  z-index:1000;
  padding-right:20px;
  
  
}

.menu1{
  position:absolute;
  height:330px;
  width:200px;
  z-index: 10;
  background:white;
  top:3px;
  right:3px;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  display:none;
  
    
  .menu-menu-1-container{
    padding-left:20px;
    padding-right:20px;
  ul{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    li{
      text-align:left;
      line-height:3.5;
      font-size:18px;
      text-transform:uppercase;
      font-family:$miriam;
      a{
        color:$forest;
      }
    }
    .menu-item-77{
      a{
        color:white;
        text-align:center;
      }
      background:$main_orange;
    }
  }
}

}
.menu-show{
  display:block;
}

.header-logo{
  
  height:50px;
  width:50px;
 
}
.menu-non-logo{
  display:flex;
  // align-content:center;
}
.menu-toggle{
  min-height:40px;
  min-width:40px;
  background-color:transparent;
  box-shadow:none;
  border:none;
  background-image:url(../../sos_assets/ui-icons/hamburger-icon-rugged-orange.svg) ;
  background-size: contain;
  background-repeat: no-repeat;
  padding:10px;
  background-position: center;
}

@media screen and (min-width: 600px) {
	.menu1{
    display: flex;
    justify-content: space-between;
    position:relative;
    height:50px;
    width:500px;
    box-shadow:none;
    z-index: 10;
    background:transparent;
    top:0;
    right:0px;
    border:none;
    align-content:center;
    align-items:center;

    .menu-menu-1-container{
      
    ul{
      width:500px;
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      li{
        text-align:center;
        line-height:1;
        padding-top:20px;
        padding-bottom:20px;
        
        font-family:$miriam;
        a{
          color:$main-orange;
          font-family:$miriam;
          font-size:16px;
        }
      }
      .menu-item-77{
        
        padding-left:15px;
        padding-right:15px;
        a{
          color:white;
          padding-left:5px;
          padding-right:5px;
        }
        background:$main_orange;
      }
    }
    
	}
	
  }}

  @media screen and (min-width: 1000px) {
    .menu1{
      display: flex;
      justify-content: space-between;
      position:relative;
      height:50px;
      width:700px;
      box-shadow:none;
      z-index: 10;
      background:transparent;
      top:0;
      right:0px;
      border:none;
      align-content:center;
      align-items:center;
  
      .menu-menu-1-container{
        
      ul{
        width:700px;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        li{
          text-align:center;
          line-height:1;
          
          font-family:$miriam;
          a{
            color:$main-orange;
            font-family:$miriam;
            font-size:20px;
          }
        }
        .menu-item-77{
          a{
            color:white;
          }
          background:$main_orange;
        }
      }
      
    }
    
    }




    
  }