.main-navigation{
  display:flex;
  justify-content:space-between;
  background-color:white;
  min-height:40px;
  align-content:center;
  align-items:center;
  width:100%;
  position:fixed;
  top:0px;
  z-index:1000;
  padding-left:20px;
  

}

.menu1{
  
  position:absolute;
  height:330px;
  width:200px;
  z-index: 10;
  background:white;
  top:3px;
  right:3px;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  display:none;
  
  
  .menu-menu-1-container{
    padding-left:20px;
    padding-right:20px;
    ul{
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      li{
        text-align:left;
        line-height:3.5;
        font-size:18px;
        text-transform:uppercase;
        font-family:$miriam;
        a{
          color:$forest;

        }
        a:hover{
          color:$hover-blue
        }
      }//li
      .menu-item-106{
        a{
          color:white;
          text-align:center;
         
        }
        a:hover{
          color:$hover-light-blue;
          border:1px $hover-light-blue;
        }
        border-radius:3px;
        background:$orange;
      }//.menu-item-106
    }//ul
    
  }//.menu-menu-1-container

}

  .menu-show{
    display:block;
  }
  
  .header-logo{
    
    min-height:40px;
    min-width:40px;
    max-height:40px;
    max-height:40px;
    a:hover{
    border:5px $hover-light-blue;
  }
  }
  
  .menu-non-logo{
    display:flex;
    
    padding-right:10px;
    // align-content:center;
  }
  .menu-toggle{
    min-height:40px;
    min-width:40px;
    background-color:transparent;
    box-shadow:none;
    border:none;
    
    
    
   
    i{
      color:$orange;
      font-size:45px;
      padding-right:20px;
      margin-right:5px;
    }
  }
  
  @media screen and (min-width: 600px) {
    .main-navigation{
      position:static;
      width:100%;
    }
    .menu-non-logo{
      
      .menu1{
        
        display: flex;
        justify-content: space-between;
        position:relative;
        height:50px;
        width:500px;
        box-shadow:none;
        z-index: 10;
        background:transparent;
        top:0;
        right:0px;
        border:none;
        align-content:center;
        align-items:center;
        
        .menu-menu-1-container{
          padding-left:0px;
          ul{
            width:500px;
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            li{
              text-align:center;
              line-height:1;
              padding-top:20px;
              padding-bottom:20px;
              
              font-family:$miriam;
              a:hover{
                color:$hover-blue
              }
              a{
                color:$orange;
                font-family:$miriam;
                font-size:14px;
                // &:focus{
                //   border: 5px solid black;
                // }
              }
            }//li
            .menu-item-106{
              
              padding-left:15px;
              padding-right:15px;
              a{
                color:white;
                padding-left:5px;
                padding-right:5px;
              }
              a:hover{
                color:$hover-light-blue;
                border:1px $hover-light-blue;
              }
              background:$orange;
            }// menu-item-106
          }//ul
          
        } //.menu-menu-1-container
        
      }//menu1
    }
  }//600px




  @media screen and (min-width: 1000px) {
    
    .menu-non-logo{
      .search-icon{
        order:2;
      }
      .menu1{
        order:1;
        display: flex;
        justify-content: space-between;
        position:relative;
        height:50px;
        width:700px;
        box-shadow:none;
        z-index: 10;
        background:transparent;
        top:0;
        right:0px;
        border:none;
        align-content:center;
        align-items:center;
        
        .menu-menu-1-container{
          
          ul{
            width:700px;
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            li{
              text-align:center;
              line-height:1;
              
              font-family:$miriam;
              a:hover{
                color:$hover-blue
              }
              a{
                color: $orange;
                font-family:$miriam;
                font-size:20px;
              }
              .menu-item-106{
                a{
                  color:white;
                }
                a:hover{
                  color:$hover-light-blue;border:1px $hover-light-blue;
                }
                background:$orange;
              }
              
            }//li
            
          }//ul
          
        }// .menu-menu-1-container
      }//.menu1
    }   //.menu-non-logo
  } //1000px