// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Screen sizes

@mixin tablet {
	@media all and (min-width: $tablet_width) {
		@content;
	}
}

@mixin tablet-footer {
	@media all and (min-width: $tablet_width_footer) {
		@content;
	}
}

@mixin desktop {
	@media all and (min-width: $desktop_width) {
		@content;
	}
}

//Mobile Fonts

//the green title for page headings
@mixin mobile-title {
	color: $forest;
	font-family: $miriam;
	font-size: 28px;
}

//the orange title for recent updates
@mixin mobile-orange-title {
	color: $orange;
	font-family: $miriam;
	font-size: 28px;
}

//description under page title
@mixin mobile-description {
	color: $forest;
	font-family: $miriam;
	font-size: 12px;
}

//white text in the footer
@mixin mobile-small-header {
	color: #fff;
	font-family: $miriam;
	font-size: 18px;
}


//Desktop Fonts

//desktop main page title
@mixin desktop-page-title {
	color: $forest;
	font-family: $miriam;
	font-size: 54px;
}

//desktop description
@mixin desktop-description {
	color: $forest;
	font-family: $miriam;
	font-size: 25px;
}

//white text in footer
@mixin desktop-small-header {
	color: #fff;
	font-family: $miriam;
	font-size: 20px;
}

//menu items in desktop
@mixin desktop-nav {
	color: $rugged;
	font-family: $miriam;
	font-size: 33px;
	
}

// scroll to top button(s) and divider

@mixin scroll-to-top{
	@content;	
	.divider{
		display: none;
		@include tablet{
			display: flex;
			justify-content: center;
			border-bottom: $orange solid 2px;
			height: 20px;
			width: 96vw;
			.scroll-up{
				position: relative;
				background: #555454;
				border-radius: 30px;     
				padding: 5px 10px;
				width: 50px;
				height: 50px;
				text-align: center;
				font-size: 35px;
				font-weight: 100;
				color: white;
				z-index: 200;
			}
			a, .fa{
				color: white;
				text-decoration: none;
			}
		}
	}
}