// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Screen sizes
@mixin tablet {
	@media all and (min-width: $tablet_width) {
		@content;
	}
}

@mixin tablet-footer {
	@media all and (min-width: $tablet_width_footer) {
		@content;
	}
}

@mixin desktop {
	@media all and (min-width: $desktop_width) {
		@content;
	}
}

//Mobile Fonts
//the green title for page headings
@mixin mobile-title {
	color: $forest;
	font-family: $miriam;
	font-size: 28px;
}

//the orange title for recent updates
@mixin mobile-orange-title {
	color: $orange;
	font-family: $miriam;
	font-size: 28px;
}

//description under page title
@mixin mobile-description {
	color: $forest;
	font-family: $miriam;
	font-size: 12px;
}

//white text in the footer
@mixin mobile-small-header {
	color: #fff;
	font-family: $miriam;
	font-size: 18px;
}

//Desktop Fonts
//desktop main page title
@mixin desktop-page-title {
	color: $forest;
	font-family: $miriam;
	font-size: 54px;
}

//desktop description
@mixin desktop-description {
	color: $forest;
	font-family: $miriam;
	font-size: 25px;
}

//white text in footer
@mixin desktop-small-header {
	color: #fff;
	font-family: $miriam;
	font-size: 20px;
}

//menu items in desktop
@mixin desktop-nav {
	color: $rugged;
	font-family: $miriam;
	font-size: 33px;
}

//desktop scroll to top

@mixin desktop-button{
	.fa-angle-up{
		display: none;
		@include tablet{
			display: block;
			position: absolute;
			left: 48%;
			color: white;
			background: $gray;
			border-radius: 50px;
			padding: 5px 11px;
			margin-top: -20px;
			font-size: 2rem;
			text-decoration: none;
		}
	}
}

//desktop scroll from end

@mixin desktop-button-end{
	.fa-angle-up{
		display: none;
		@include tablet{
			display: block;
			position: absolute;
			left: 47%;
			color: white;
			background: $gray;
			border-radius: 50px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			padding: 1px 15px;
			margin-top: -2rem;
			font-size: 2rem;
			text-decoration: none;
		}
	}
}

//mobile scroll to top

@mixin mobile-button{
	.fa-angle-up{
		position: absolute;
		left: 48%;
		margin-top: -5px;
		color: white;
		background: $orange;
		border-radius: 50px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		padding: 0px 14px;
		font-size: 2.3rem;
		text-decoration: none;
		@include tablet{
			display: none;
		}
	}
}

//scroll to top button(s)
@mixin scroll-half-circle {
	@content;
	background: #555454;
	border-radius: 50px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 50px;
	height: 35px;
	text-align: center;
	font-size: 35px;
	font-weight: 100;
	color: white; // z-index: 10;
}

@mixin scroll-circle {
	@content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -5px;
	background: #555454;
	border-radius: 30px;
	width: 42px;
	height: 42px;
	text-align: center;
	font-size: 35px;
	font-weight: 100;
	color: white; // z-index: 10;
}

@mixin proposed-button {
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include tablet {
			align-items: left;
		}
		a {
			text-decoration: none;
		}
		.close-section {
			align-self: center;
			align-items: center;
			justify-content: center;
			display: flex;
			color: #fff;
			margin: 0;
			text-align: center;
			height: 40px;
			width: 50px;
			background: $orange;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			i {
				font-size: 40px;
			}
			@include tablet {
				display: none;
			}
		}
	}
}