


.search-field{
  width:0px;
 
  color:black;
}
.search-form{
  display:flex;
  align-items:center;
}
.main-navigation{



input[type=search]{
  
  
  background-color:white;
  border:none;
  font-family:$miriam;
  position: relative; top: 5px;
  
  width:0;
  padding:0;
  margin:0;
}
fieldset{
  border:none;
}

.search-submit{
  border:none;
  background:transparent;
  box-shadow:none;

  height:50px;
  width:50px;
  color:$brown-orange;

}


}


.search-open,
.no-js .search {
  width:200px;
  
}
.search-bar-open{
  display:none;
}
.search-bar-white{
  background-color:white;
}

.icon-search{
  .fa{
    font-size:28px;
  }
}

