


.search-field{
  width:0px;
  margin-left:20px;
  color:black;
  background:grey;
  display:none;
}
.search-form{
  display:flex;
  align-items:center;
}
.main-navigation{



input[type=search]{
  
  
  background-color:white;
  border:none;
  font-family:$miriam;
  position: relative; top: 0px;right: 20px;
  
  width:-10px;
  padding:0;
  margin:0;
  line-height:2;
}
fieldset{
  border:none;
}

.search-submit{
  border:none;
  background:transparent;
  box-shadow:none;

  height:50px;
  width:65px;
  color:$border-orange;
  

}


}


.search-open,
.no-js .search {
  width:200px;
  
}
.search-bar-open{
  display:none;
}
.search-bar-white{
  background-color:white;
}

.icon-search{
  .fa{
    font-size:28px;
  }
}
.display-block{
  display:block;
}

.search-closing-icon{
  position:absolute;
  top:82px;
  right:233px;
  display:none;
}

