


.search-field{
  width:0px;
  background-color:transparent;
  
}
.main-navigation{



input[type=search]{
  
  
  background-color:transparent;
  border:none;
  font-family:$miriam;
  position: relative; top: 10px;
  float:right;
}

}


.search-open,
.no-js .search {
  width:200px;
  
}

