// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//custom

//color
$forest: #285817;
<<<<<<< HEAD
$text-orange: #e67c16;
$nav-orange: #e47a1e;
=======
$light-green: #36730a;
>>>>>>> f741a4d89f00ef102891c60050a5c435c3e83853
$main-orange: #eb8e26;
$brown-orange: #bf6d0a;

//fonts
$miriam: 'Miriam Libre';
$source: 'Source Sans Pro';

//screen
$tablet_width: 600px;
$desktop_width: 1000px;

