@mixin proposed-button {
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include tablet {
			align-items: left;
		}
		a {
			text-decoration: none;
		}
	.close-section {
		align-self: center;
		align-items: center;
		justify-content: center;
		display: flex;
		
		color: #fff;
		margin: 0;
		
		text-align: center;
		height: 50px;
		width: 50px;
		background: $orange;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		i {
			font-size: 30px;
		}
		@include tablet {
			display: none;
		}
	}
}